.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.align-right {
  align-items: right !important;
  text-align: right !important;
}

